html {
    font-family: 'Heebo-Medium', Fallback, sans-serif !important;
    
}

body {
    background-color: #1a1a1a !important;
    color: white !important;
}

#margin-frame {
    margin-left: 10%;
    margin-right: 10%;
}

#GD-Logo {
    margin-bottom: 20px;
    height: calc(80px + 4vw)
}

.index-head {
    
    text-align: center;
}
#sponsors {
    padding: 0;
}

.quote {
    font-size: calc(15px + 0.5vw);
}

.url {
    color: rgb(212, 206, 121);
}