<!DOCTYPE html>
{% load static %}
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href='{% static 'scoutingtool/css/navbar_2.css' %}'>
<script src='{% static 'scoutingtool/js/navbar_2.js' %}'></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
	html {
		font-family: 'Heebo-Medium', Fallback, sans-serif !important;
	}
</style>
<script>
	window.onload = () => {let e = 0.994; let title = document.getElementById('site-title'); if(Math.random() < e){ title.innerText = "Scout Janssen";} else { title.innerText = "Scout Waltonson";}};
</script>
</head>
<body>
	{% load socialaccount %}
	
	<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
		<a class="navbar-brand" id="site-title" href="https://frc4026.com">Scout Janssen</a>
		</div>
		<ul class="nav navbar-nav">
		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistics<span class="caret"></span></a>
			<ul class="dropdown-menu">
			<li><a href="https://frc4026.com/scout/report/#4026">Manage</a></li>
			<li><a href="https://frc4026.com/scout/graphs/">Graphs</a></li>
			<li><a href="https://frc4026.com/scout/team/4026">Teams</a></li>
			<li><a href="https://frc4026.com/scout/match/1">Matches</a></li>
			</ul>
		</li>
		<li><a href="https://frc4026.com/scout/">Scout</a></li>
		<li><a href="https://frc4026.com/scout/scouter/">Set Scouter</a></li>
		<li><a href="https://frc4026.com/schedule/">Schedule</a></li>
		<li><a href="https://frc4026.com/scout/help">Help</a></li>
		<li>
			{% if user.is_authenticated %}
			<form action="/accounts/logout/" method="POST">
				<a href="" onclick="this.parentNode.submit()">Logout</a>
			</form>
			{% else %}
			<a href="{% provider_login_url 'google' %}">Login</a>
			{% endif %}
		</li>

		</ul>
	</div>
	</nav>
	
	<div class="container">
	{% block content %}{% endblock content %}
	</div>
</body>
</html>