<!doctype html>
{% extends "scoutingtool/base.html" %}
{% load static %}
{% block content %}
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
	<meta charset="utf-8">
	<title>Global Dynamics</title>
	<link rel="stylesheet" href='{% static 'scoutingtool/css/main.css' %}'>
	<link rel="stylesheet" href='{% static 'scoutingtool/css/index.css' %}'>
</head>

<body>
	<div class="rightside">
		<br>
		<center>
			<img src="{% static 'scoutingtool/images/White GD LOGO.png' %}" height="100vw" style="padding-bottom: 2vw";/>
			<a class="caption" href="https://decaturrobotics.org/sponsor/" target="_blank">Sponsor Us!</a></center>
		<p class="divider"></p>
		<center>
			<p>Johnson Research and Development</p>
			<p>Oracle</p>
			<p>General Electric</p>
			<p>Big Nerd Ranch</p>
			<p>Revolution</p>
			<p>Novelis</p>
			<p>Automation Direct</p>
			<p>Decatur Education Foundation</p>


		</center>
	</div>
	<div id="content-left">
		<div class="content-index">
			<h1 class="header">
				FRC Team 4026
			</h1>
		</div>
		<div class="section">
			<div class="innersection text">
				<center><p class="caption">
					2020 - Infinite Recharge
				</p></center>
				<p class="lilheading">
					Written on 1/28/2020 by god in its purest form
				</p>
				<p class="divider"></p>
				<p class="">
					Scout Janssen is the most valuable asset to this team
				</p>
				<p>They say im a rapper but I say no</p>
				<p>eh</p>
				<p>4026 wins 2020 worlds</p>
			</div>
			<div>
				<img class="innersection" src="{% static 'scoutingtool/images/InfRech.jpg' %}" alt="Infinite Recharge" style="width: 30vw; border-radius: 1vw; float:right; margin: 2vw 2vw 2vw 2vw;"/>
			</div>
		</div>
		<p class="divider" style="margin-left: 2.5%; margin-right: 2.5%; padding-bottom: .4vw;"></p>
		<div class="section">
			<div class="innersection text">
				<center><p class="caption">
					2019 - Destination: Deep Space
				</p></center>
				<p class="lilheading">
					Written on 1/28/2020 by god in its purest form
				</p>
				<p class="divider"></p>
				<p class="">
					The FitnessGram Pacer Test is a multistage aerobic capacity test that progressively gets more difficult as it continues. The 20 meter pacer test will begin in 30 seconds. Line up at the start
				</p>
				<p>They say im a rapper but I say no</p>
				<p>eh</p>
				<p>4026 wins 2020 worlds</p>
			</div>
			<div>
				<img class="innersection" src="{% static 'scoutingtool/images/2019-Dalton-6.jpg' %}" alt="4026 Winning at Dalton" style="width: 30vw; border-radius: 1vw; float:right; margin: 2vw 2vw 2vw 2vw;"/>
			</div>
		</div>
	</div>
</body>
</html>
{% endblock content %}