<!doctype html>

<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
	<meta charset="utf-8">
	<title>Global Dynamics</title>
	<link rel="stylesheet" href='../../static/scoutingtool/css/main.css'>
	<link rel="stylesheet" href='../../static/scoutingtool/css/index.css'>
	<link rel="stylesheet" href='../../static/scoutingtool/css/pages.css'>
<style> 
	h3 {text-align: center}
</style>
</head>

<body>
	<div class="rightside">
		<br>
		<center>
			<img src="../../static/scoutingtool/images/White GD LOGO.png" width="100%" style="padding-bottom: 2vw";/>
			<br>
			<a class="caption" href="https://decaturrobotics.org/sponsor/" target="_blank">Sponsor Us!</a></center>
		<p class="divider"></p>
		<center>
			
			<img src="../../../static/scoutingtool/images/jsac-white.png" height="50%" width="50%" ;/>
			<br>
			<img src="../../../static/scoutingtool/images/Oracle.png" height="50%" width="50%" style="padding-bottom: auto";/>
			<br>
			<img src="../../../static/scoutingtool/images/GE.png" height="25%" width="25%" ;/>
			<br>
			<img src="../../../static/scoutingtool/images/Rev+logo+light.png" height="50%" width="50%" ;/>
			<br>
			<img src="../../../static/scoutingtool/images/Novelis.png" height="50%" width="50%" ;/>
			<br>
			<img src="../../../static/scoutingtool/images/adc-shield.png" height="50%" width="50%" ;/>
			<br>
			<img src="../../../static/scoutingtool/images/DEF logo.png" height="50%" width="50%" ;/>
			


		</center>
	</div>
	<div id="content-left">
		<div class="content-index">
			<h1 class="header">
				FRC Team 4026
			</h1>
			<h3 class="lilheading" style="color: white">
			"We blockchained the AI, so you don't have to." - Archimedes
			</h3>
		</div>
		<div class="section">
			<div class="innersection text">
				<center><p class="caption">
					2020 - Infinite Recharge
				</p></center>
				<p class="divider"></p>
				<p>
					-March 6th through 7th: Team 4026 competed at the Georgia FIRST® Dalton District Event. After a rough first day, the team bounced back, making it to Semifinals after being picked by the 3rd place team for playoffs, where we were knocked out by the eventual tournament winners. Though we did not manage to win the tournament, we did manage to take home the Judge's Award!
				</p>
				<p>
					-March 20th: After one official competition, the team was disappointed to find out that FIRST® had suspended, and later cancelled, the remainder of the INFINITE RECHARGE season, with the decision to replay a modified verson of INFINITE RECHARGE as the 2021 season game. Though we are all disappointed, we have learned how to take the situation with our heads held high, and are looking forward to the 2021 season! 
				</p>
				
			</div>
			<div>
				<img class="innersection" src="../../../static/scoutingtool/images/Dalton Team Photo-2.png" alt="Infinite Recharge" style="width: 25vw; border-radius: 1vw; float:right; margin: 2vw 2vw 2vw 2vw;"/>
			</div>
		</div>
		<p class="divider" style="margin-left: 2.5%; margin-right: 2.5%; padding-bottom: .4vw;"></p>
		<div class="section">
			<div class="innersection text">
				<center><p class="caption">
					2019 - Destination: Deep Space
				</p></center>
				<p class="divider"></p>
				<p>
					March 8th-9th: Georgia FIRST® Dalton District Event: Winners!
				</p>
				<p>
					March 22st-23rd: Georgia FIRST® Columbus District Event: Eliminated in Semifinals, Engineering Insperation Award
				</p>
				<p>
					April 4rd-6th: Georgia FIRST® District Championship: Eliminated in Quarterfinals, Creativity Award
				</p>
				<p>
					April 17th-20th: FIRST® Championship, Galileo Division: Eliminated in Quarterfinals
				</p>
				<p>
					November 2nd: Georgia Robotics Invitatioonal Toournament and Showcase: Eliminated in Finals
				</p>
			</div>
			<div>
				<img class="innersection" src="../../static/scoutingtool/images/2019-Dalton-6.jpg" alt="4026 Winning at Dalton" style="width: 25vw; border-radius: 1vw; float:right; margin: 2vw 2vw 2vw 2vw;"/>
			</div>
		</div>
	</div>
</body>
</html>
{% endblock content %}