<!doctype html>
{% extends "scoutingtool/base.html" %}
{% load static %}
{% block content %}
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
	<meta charset="utf-8">
	<title>Global Dynamics</title>
	<link rel="stylesheet" href='{% static 'scoutingtool/css/main.css' %}'>
	<link rel="stylesheet" href='{% static 'scoutingtool/css/index.css' %}'>
</head>

<body>
	<div class="index-content">
		<div class="index-head">
			<img src={% static 'scoutingtool/images/White GD LOGO.png' %} alt="GD Logo" id="GD-Logo">
			
			<p class="quote">"We blockchained the AI, so you don't have to." - Archimedes</p>
			
		</div>
		<hr>
		<div>
			<p>Scout Janssen is a scouting program built using Django. Use is currently restricted to members of FRC Team 4026.</p>
			<p>Currently under development.</p>
			<br>
			<a href="https://github.com/VeryCleverName3/Scout-Janssen" target="_blank"><p class="url">Project on Github</p></a>
		</div>
		<!--<div id="sponsors">
			
			<h1>Sponsors</h1>
			<p>Johnson Research and Development</p>
			<p>Oracle</p>
			<p>General Electric</p>
			<p>Big Nerd Ranch</p>
			<p>Revolution</p>
			<p>Novelis</p>
			<p>Automation Direct</p>
			<p>Decatur Education Foundation</p>
		</div>-->
	</div>
</body>
</html>
{% endblock content %}