{% extends "scoutingtool/base.html" %}
{% load static %}
{% block content %}

<html>
<head>
<style>
body {
  background-color: ##f0f0f0;
}
th, td {
    color: black;

    text-align:center;
}
td {
    padding-left:2.5vw;
    padding-right:2.5vw; 
}
th {
    /**width: 100%;*/
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
</style>
</head>
<body>
<div style="overflow-x:auto">
    <center>
        <table>
            <tr>
                <th>Team</th>
                <th>Scouter</th> 
                <th>Initiation Line</th>
                <th>1pt Made Auto</th>
                <th>1pt Missed Auto</th>
                <th>2pt Made Auto</th>
                <th>2pt Missed Auto</th>
                <th>1pt Made Tele</th>
                <th>1pt Miss Tele</th>
                <th>2pt Made Tele</th>
                <th>2pt Miss Tele</th>
                <th>3pt Estimate</th>
                <th>Time on Defense</th>
                <th>Spin Wheel</th>
                <th>Spin Wheel to Color</th>
                <th>Climb</th>
                <th>Park</th>
                <th>Assist Other Robot Climb</th>
                <th>Responsible for Balance</th>
                <th>Connection Issues</th>
                <th>Mechanical Issues</th>
                <th>Notes</th>
             </tr>
            <script>console.log('{{reportsRobots}}')</script>
            <!--{% for report in reportsRobots %}
                <script>console.log('{{report}}')</script>
                {% for i in report %}
                    <tr>
                        <td>{{i.team}}</td>
                        <td>{{i.match}}</td>
                        <td>{{i.scouter}}</td>
                        <td>{{i.initiationLine}}</td>
                        <td>{{i.onePointMadeAuto}}</td>
                        <td>{{i.onePointMissedAuto}}</td>
                        <td>{{i.twoPointMadeAuto}}</td>
                        <td>{{i.twoPointMissedAuto}}</td>
                        <td>{{i.onePointMadeTele}}</td>
                        <td>{{i.onePointMissedTele}}</td>
                        <td>{{i.twoPointMadeTele}}</td>
                        <td>{{i.twoPointMissedTele}}</td>
                        <td>{{i.estimate3pt}}</td>
                        <td>{{i.timeOnDefense}}</td>
                        <td>{{i.wheelTurn}}</td>
                        <td>{{i.wheelColor}}</td>
                        <td>{{i.climb}}</td>
                        <td>{{i.park}}</td>
                        <td>{{i.climbAssist}}</td>
                        <td>{{i.balanceResponsibility}}</td>
                        <td>{{i.connectionIssues}}</td>
                        <td>{{i.mechanicalIssues}}</td>
                        <td>{{i.notes}}</td>
                    </tr>
                {% endfor %}
            {% endfor %}-->
        </table>
    <table>
        <tr>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Team 3</th>
            <th>Team 4</th>
            <th>Team 5</th>
            <th>Team 6</th>
        </tr>
        {% for item in matchInfo %}
        <tr> 
            <td>{{ item.team1_id }}</td>
            <td>{{ item.team2_id }}</td>
            <td>{{ item.team3_id }}</td>
            <td>{{ item.team4_id }}</td>
            <td>{{ item.team5_id }}</td>
            <td>{{ item.team6_id }}</td>
        </tr>
        {% endfor %}
    </table>
    </center>
    </div>
</body>
</html>
{% endblock content %}