{% extends "scoutingtool/base.html" %}
{% load static %}
{% block content %}

<html>
<head>
<style>
body {
  background-color: ##f0f0f0;
}
th, td {
    color: black;

    text-align:center;
}
td {
    padding-left:2.5vw;
    padding-right:2.5vw; 
}
th {
    /**width: 100%;*/
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
</style>
</head>
<body>
<div style="overflow-x:auto">
    <center>
        <table>
            
            <h3>{{ item.team1_id }}</h3>
            {% for i in reportsRobot1 %}
                <tr>
                   <th>Scouter: {{ i.scouter }}</th> 
                   <th>Match: {{i.match}}</th>
                   <th>Initiation Line: {{i.initiationLine}}</th>
                   <th>1pt Made Auto: {{i.onePointMadeAuto}}</th>
                   <th>1pt Missed Auto: {{i.onePointMissedAuto}}</th>
                   <th>2pt Made Auto: {{i.twoPointMadeAuto}}</th>
                   <th>2pt Missed Auto: {{i.twoPointMissedAuto}}</th>
                   <th>1pt Made Tele: {{i.onePointMadeTele}}</th>
                   <th>1pt Miss Tele: {{i.onePointMissedTele}}</th>
                   <th>2pt Made Tele: {{i.twoPointMadeTele}}</th>
                   <th>2pt Miss Tele: {{i.twoPointMissedTele}}</th>
                   <th>3pt Estimate: {{i.estimate3pt}}</th>
                   <th>Time on Defense: {{i.timeOnDefense}}</th>
                   <th>Spin Wheel: {{i.wheelTurn}}</th>
                   <th>Spin Wheel to Color: {{i.wheelColor}}</th>
                   <th>Climb: {{i.climb}}</th>
                   <th>Park: {{i.park}}</th>
                   <th>Assist Other Robot Climb: {{i.climbAssist}}</th>
                   <th>Responsible for Balance: {{i.balanceResponsibility}}</th>
                   <th>Connection Issues: {{i.connectionIssues}}</th>
                   <th>Mechanical Issues: {{i.mechanicalIssues}}</th>
                   <th>notes: {{i.notes}}</th>
                </tr>
            {% endfor %}
            
        </table>
    {% for i in reportsRobot1 %}
        <p>{{ i.notes }}</p>
        <p>{{ i }}</p>
        <script>console.log('{{reportsRobot1}}')</script>
    {% endfor %}
    <table>
        <tr>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Team 3</th>
            <th>Team 4</th>
            <th>Team 5</th>
            <th>Team 6</th>
        </tr>
        {% for item in matchInfo %}
        <tr> 
            <td>{{ item.team1_id }}</td>
            <td>{{ item.team2_id }}</td>
            <td>{{ item.team3_id }}</td>
            <td>{{ item.team4_id }}</td>
            <td>{{ item.team5_id }}</td>
            <td>{{ item.team6_id }}</td>
        </tr>
        {% endfor %}
    </table>
    </center>
    </div>
</body>
</html>
{% endblock content %}