{% extends "scoutingtool/base.html" %}
{% load static %}
{% block content %}

<head>
	<link rel="stylesheet" type="text/css" href='{% static 'scoutingtool/css/main.css' %}'>
	<link rel="stylesheet" href='{% static 'scoutingtool/css/scheduler.css' %}'>
	<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Muli|Public+Sans&display=swap" rel="stylesheet">
</head>
<body>
	<div>
		<p style="margin-left: 0.5vw; margin-top: 1vw;">*This page is temporary, but I don't have time to make it better.</p>
	</div>

	<div class="container">
		<div class="row">
		  <div class="col-xs-12">
			<div class="table-responsive" data-pattern="priority-columns">
			  <table summary="" class="table table-bordered table-hover">
				<caption class="text-center">Scouting Schedule:</caption>
				<thead>
				</thead>
				<tbody id="schedule-table-head">
				  	
				</tbody>
			  </table>
			</div>
		  </div>
		</div>
	  </div>
</body>
<script>
	scoutingData = {};
	let head = document.getElementById("schedule-table-head");
	{% for item in schedules %}
		scoutingData['{{item.scouter}}'] = ('{{item.data}}');
		
	{% endfor %}
	for(i in scoutingData){
		scoutingData[i] = JSON.parse(scoutingData[i].replaceAll("&#39;", '"'));
		let tr = document.createElement("tr");
		let nameTd = document.createElement("td");
		let nameNode = document.createTextNode(i);
		let dataTd = document.createElement("td");
		readableMatches = document.createElement("p");
		for(match in scoutingData[i]){
			let readableMatch = document.createTextNode(match + ": " + scoutingData[i][match]["bot"] + "\n")
			readableMatches.appendChild(readableMatch)
		}
		let dataNode = document.createTextNode(readableMatches);
		nameTd.appendChild(nameNode);
		dataTd.appendChild(dataNode);
		tr.appendChild(nameTd);
		tr.appendChild(dataTd);
		head.appendChild(tr);
	}
	
	console.log(scoutingData)
</script>
{% endblock content %}