<!doctype html>
<html lang="en">
<head>
    <script src="js/navBar.js"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/pages.css">
    <link rel="stylesheet" href="css/tba.css">
    <script src="js/mainPage.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
    <title>Global Dynamics</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
	<style> 
		body{
			background-color: #2B2B2B;
		}
		h1{
			color: #FFFFFF
		}
			a:hover, a:active, a:visited {
            color: #FFFFFF;
        }
		
	</style>
</head>
<body>
    <div id="mySidebar" class="sidebar">
		<center><img id="gdlogoinsidebar" src="images/GD_LOGO_MINI.png" width="100em"/></center>
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="form.html">Scouting Form</a>
		<a href="scheduler.html">Schedule</a>
		<a href="teamsComp.html">Matches</a>
		<a href="#">Statistics</a>
		<a href="#">Contact</a>
	</div>
	<div class="openbtn" onclick="openNav()">
		<center><img src="images/menuhamburg.png" width="90%" height="90%" style=""/></center>
	</div>
    <div id="TBA">
      <h1>Teams at competition:</h1>
      <table style="width:100%" id="TBATable">
      </table>
    </div>
</body>
</html>